@import "zerostyles";

* {
  font-family: sans-serif;
}

.container {
  flex: 1 1 auto;
}

body {
  color: #222;
  background: #fff;
  position: relative;
  transition: all ease-in-out 0.1s;
  padding-bottom: 50px;
  @media (prefers-color-scheme: light) {
    color: #222;
    background: #fff;
    transition: all ease-in-out 0.1s;
  }

  @media (prefers-color-scheme: dark) {
    color: #eee;
    background: #202020;
    transition: all ease-in-out 0.1s;
  }
}

// body.dark-theme {
//   color: #eee;
//   background: #202020;
//   transition: all ease-in-out 0.1s;
// }

.heading {
  &__text {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    margin: 15px 0;
  }
}

.add-todo {
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin: 20px auto;
    height: 50px;
    max-width: 500px;
    background-color: #b4c7fd;
    border-radius: 5px;
    @media (max-width: 500px) {
      height: 90px;
      max-width: 350px;
      align-content: space-around;
    }
  }

  &__input {
    border: 1px solid black;
    height: 30px;
    padding: 5px;
    width: 390px;
    border-radius: 5px;
    margin: 0 10px;
    transition: border, 0.3s ease-in-out;

    &.error {
      border: 1px solid red;
      transition: border, 0.3s ease-in-out;
    }
    &::placeholder {
      text-indent: 0px;
      transition: text-ident, 0.3s ease-in-out;
    }
    &:focus {
      &::placeholder {
        text-indent: 1000px;
        transition: text-ident, 0.3s ease-in-out;
      }
    }
  }

  &__btn {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    top: 0;
    width: 80px;
    height: 25px;
    border-radius: 5px;
    margin: 0 10px 0 0;
    color: #fff;
    box-shadow: 0 5px 0 #388e3c;
    background-color: #4caf50;
    transition: all ease-in-out 0.1s;
    position: relative;
    font-weight: bold;
    &:hover {
      background-color: #81c784;
      box-shadow: 0 5px 0 #66bb6a;
    }
    &:active {
      top: 2px;
      box-shadow: 0 3px 0 #2e7d32;
      background-color: #43a047;
      cursor: pointer;
    }
  }
}

h2 {
  font-weight: bold;
  text-align: center;
  font-size: 1.5em;
  margin: 20px auto;
}

.todos {
  &__wrapper {
    max-width: 500px;
    margin: 10px auto;
    @media (max-width: 500px) {
      height: 90px;
      max-width: 350px;
    }
  }

  &__todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2em;
    border-radius: 5px;
    height: 50px;
    padding: 10px;
    background-color: #ffb74d;
    margin: 10px 0;
    color: #000;
    max-width: 500px;
    // transition: all ease-in-out 0.1s;
    &.deleting {
      animation: opacity 0.6s ease-in-out;
    }
  }

  &__description {
    // overflow: scroll;
    padding: 0 10px 0 0;
    font-size: 16px;
    @media (max-width: 768px) {
      padding: 10px;
      overflow: scroll;
    }
  }

  &__buttons {
    display: flex;
    min-width: 60px;
    justify-content: space-between;
    &--complete {
      width: 25px;
      height: 25px;
      border-radius: 5px;
    }

    &--delete {
      width: 25px;
      height: 25px;
      border-radius: 5px;
      color: #fff;
      background-color: #ef5350;
      font-size: 15px;
    }
  }
}

.tab {
  &.d-none {
    display: none;
  }
}

.tasks-filter {
  display: flex;
  justify-content: center;
  margin: 0 0 40px 0;
  &__buttons {
    display: flex;
  }

  &__buttons--radio {
    float: left;
    position: relative;
    margin: 0 10px;
    width: 100px;
    height: 40px;
    // border: 1px solid #000;
    border-radius: 5px;
    @media (max-width: 350px) {
      margin: 0 5px;
      width: 80px;
    }

    & label,
    input {
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      color: #fff;
    }

    & label {
      box-shadow: 0 5px 0 #388e3c;
      background-color: #4caf50;
      transition: all ease-in-out 0.1s;
      position: relative;
      font-weight: bold;
      height: 40px;
      border-radius: 5px;

      &:hover {
        background-color: #81c784;
        box-shadow: 0 5px 0 #66bb6a;
      }
      &:active {
        top: 2px;
        box-shadow: 0 3px 0 #2e7d32;
        background-color: #43a047;
        cursor: pointer;
      }
    }

    & input[type="radio"] {
      opacity: 0.011;
      z-index: 100;
    }

    & input[type="radio"]:checked + label {
      background-color: #26c6da;
      box-shadow: 0 3px 0 #00acc1;
      // background-color: #43a047;
      // box-shadow: 0 3px 0 #2e7d32;
      top: 2px;
      color: #fff;
      transition: all ease-in-out 0.3s;
      border-radius: 5px;
      &:hover {
        background-color: #80deea;
        box-shadow: 0 3px 0 #26c6da;
      }
    }

    // &__buttons--radio + input[type="radio"]:checked {
    //   height: 38px;
    // }

    & label {
      cursor: pointer;
      display: flex;
      z-index: 90;
      line-height: 1.3em;
      text-align: center;
      justify-content: center;
      align-items: center;
    }
  }

  // &__buttons--btn {
  // }
}

.checked {
  text-decoration: line-through;
  background-color: #d39942;
}

.footer {
  display: flex;
  justify-content: center;

  height: 60px;
  padding: 0 0 0 0;
}

.buttons {
  width: 350px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.btn-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 30px;
  font-weight: bold;
  position: relative;
  top: 0;
  border-radius: 5px;
  color: #fff;
  box-shadow: 0 5px 0 #3f51b5;
  background-color: #303f9f;
  transition: all ease-in-out 0.1s;
  &:hover {
    background-color: #7986cb;
    box-shadow: 0 5px 0 #5c6bc0;
  }
  &:active {
    top: 2px;
    box-shadow: 0 3px 0 #3949ab;
    background-color: #283593;
    cursor: pointer;
  }
}

@keyframes opacity {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
